@import './variables.scss';
@import './utils/textcolor.scss';

$shade-names: 10, 20, 30, 40, 50;

@mixin getShades ($varname, $col) {
  @each $shade in $shade-names {
    --#{$varname}-shade-#{$shade}: #{calculate-shade-color($col, $shade*1% ) };
  }
}

:root {
  --default: #{$text-default};
  --inverted: #{invert($text-default)};
  --danger: #{$base-red};
  --success: #{$base-green};
  --information: #{$base-blue};
  --warning: #{$base-yellow};
  --primary: #{$primary};
  --ghost: #{calculate-ghost-color()};
  --background: #{$background-default};
  --background-inverted: #{invert($background-default)};
  @include getShades("background", $background-default);
}
