// Default font-size used to scale by a function
$default-font-size: 1.1em;

// Used for generating the space-component 
$space-steps: 6;
$space-step: 8px;

// Defines the header-height
$header-height: 50px;