$colors: (
  error: var(--error-main),
  success: var(--success-main),
  info: var(--info-main),
  warning: var(--warning-main),
  primary: var(--primary-main),
  secondary: var(--secondary-main)
);

@mixin text-theming {
  @each $theme, $color in $colors {
    &.b-theme-#{$theme} {
      color: #{$color};
    }
  }
}

@mixin background-theming {
  @each $theme, $color in $colors {
    &.b-theme-#{$theme} {
      background-color: #{$color};
    }
  }
}

@mixin quote-theming {
  @each $theme, $color in $colors {
    &.b-theme-#{$theme} {
      border-left: 6px solid #{$color};
    }
  }
}