$component-name: 'button';
$component-colors: (
  'primary': [--primary-main --primary-text],
  'secondary': [--secondary-main --secondary-text],
  'success': [--success-main --success-text],
  'warn': [--warning-main --warning-text],
  'error': [--error-main --error-text],
  'info': [--info-main --info-text]
);

@mixin makePrimaryColors {
  @each $key, $val in $component-colors {
    $bg: nth($val, 1);
    $fc: nth($val, 2);
    &.b-#{$component-name}-col-#{$key} {
      background-color: var($bg);
      color: var($fc);
    }
  }
}

@mixin makeOutlinedColors {
  @each $key, $val in $component-colors {
    $bg: nth($val, 1);
    $fc: nth($val, 2);
    &.b-#{$component-name}-col-#{$key} {
      color: var($bg);
    }
  }
}

.broccoli .b-#{$component-name} {
  height: 40px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 16px;
  outline: none;
  letter-spacing: 1px;

  &.b-#{$component-name}-outlined {
    border: 2px solid currentColor;

    @include makeOutlinedColors();

    &:disabled {
      border-color: var(--gray-light-1);
      color: var(--text-disabled);
    }
  }

  &.b-#{$component-name}-primary, &.b-#{$component-name}-cta {
    @include makePrimaryColors();

    &:disabled {
      color: var(--text-disabled);
      background-color: var(--gray-light-2);
    }
  }

  &.b-#{$component-name}-rounded {
    border-radius: 5px;
  }

  &.b-#{$component-name}-circle {
    border-radius: 50%;
  }

  &.b-#{$component-name}-block {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
  }
}