$component-name: 'button';
$component-colors: (
  'default': transparent,
  'primary': var(--primary),
  'success': var(--success),
  'warn': var(--warning),
  'danger': var(--danger),
  'info': var(--information)
);

@mixin makePrimaryColors {
  @each $key, $val in $component-colors {
    &.b-#{$component-name}-col-#{$key} {
      background-color: $val;
    }
  }
}

@mixin makeOutlinedColors {
  @each $key, $val in $component-colors {
    &.b-#{$component-name}-col-#{$key} {
      border: 2px solid $val;
      color: $val;
    }
  }
}

.broccoli .b-#{$component-name} {
  height: 36px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 16px;

  &.b-#{$component-name}-outlined {
    @include makeOutlinedColors();
  }

  &.b-#{$component-name}-primary, &.b-#{$component-name}-cta {
    @include makePrimaryColors();
  }

  &.b-#{$component-name}-rounded {
    border-radius: 5px;
  }

  &.b-#{$component-name}-circle {
    border-radius: 50%;
  }
}