@import "../../style/mixins/alignMixin.scss";

$component-name: 'paragraph';

.broccoli .b-#{$component-name} {
    text-align: inherit;
    line-height: 1.2em;

    @include alignment($component-name);

    &.b-#{$component-name}-block {
        text-align: justify;
    }

    &.b-#{$component-name}-linespace-large {
        line-height: 1.5em;
    }
}
