.broccoli .b-paragraph{
    text-align: inherit;
    line-height: 1.1em;

    &.b-paragraph-block {
        text-align: justify;
    }

    &.b-paragraph-align-center {
        text-align: center;
    }

    &.b-paragraph-align-right {
        text-align: right;
    }

    &.b-paragraph-align-left {
        text-align: left;
    }

    &.b-paragraph-linespace-large {
        line-height: 1.5em;
    }
}
