@import '../../style/defaultColorTheme.scss';
@import '../../style/utils/fontsize.scss';

*.broccoli {
  color: calculate-text-color();
  font-size: get-font-size();
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--text);

  .b-mono {
    font-family: 'Source Code Pro', monospace;
  }
}

html, body, #root, .broccoli {
  height: 100%;
}