@import '../../style/variables.scss';

.broccoli {
  color: inherit;

  .b-layout-base {
    display: flex;
    flex-direction: column;
    height: 100%;

    .b-header {
      height: $header-height;
      background-color: var(--primary);
      display: flex;
      align-items: center;
      padding: 0 $space-step * 2;
    }

    .b-content {
      flex: 1;
      padding: $space-step * 2;
    }

    .b-footer {
      min-height: 50px;
      padding: $space-step * 2;
    }
  }
}
